NTFY_URL=http://ntfy:80
NTFY_TOPIC=mediacenter
SONARR_SECRET=changeme
RADARR_SECRET=changeme
LIDARR_SECRET=changeme
READARR_SECRET=changeme
SONARR_URL=http://sonarr:8989
SONARR_API_KEY=changeme
RADARR_URL=http://radarr:7878
RADARR_API_KEY=changeme
LIDARR_URL=http://lidarr:8686
LIDARR_API_KEY=changeme
READARR_URL=http://readarr:8787
READARR_API_KEY=changeme
CACHE_TTL=30
DB_PATH=data/cache.db
